.not-found-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.not-found-heading {
  color: #ffffff;
  font-family: 'Bree Serif';
  font-weight: bold;
  font-size: 48px;
}
